// Place all the styles related to the ForceGraph controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background: none repeat scroll 0 0 #222222;
}

// ------------------------------
// Force Graph
// ------------------------------
circle.node {
    stroke: #FFFFFF;
    stroke-width: 2px;
}
line.link {
    stroke: #CECECE;
    stroke-width: 0.5;
}
text.txt {
    font-family: "Helvetica Neue","Lucida Grande",Verdana,Geneva,sans-serif;
}// ------------------------------


// ------------------------------
// Dynamic Force Graph
// ------------------------------
rect {
  fill: #fff;
}

.node {
  fill: #000;
}

.cursor {
  fill: none;
  stroke: brown;
  pointer-events: none;
}

.link {
  stroke: #999;
}
// ------------------------------

